@charset "UTF-8";
#main-header{
    margin-top: 10px;
    color: #fafafa;
    font-weight: 1000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: xl-large;
    line-height: 35px;
    text-transform: uppercase;
    border-bottom-style: solid;
    border-bottom-width: thin;
    padding-bottom: 10px;
	margin-left: 50px;
	margin-right: 50px;
	padding:15px;
}
#mainheader-burndown{
    color: #fafafa;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
   	margin-left: 50px;
	margin-right: 50px;
}
.burndown-chart{
	margin-left: auto;
    margin-right: auto;
    display: block;
    width: 450px;
	padding-bottom: 15px;
}

.scrumsprint-text {
    text-align: left;	
}
