@charset "UTF-8";
@import url("styles3.css");


.main-header{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    color: #FAFAFA;
    font-weight: 800;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: xl-large;
    line-height: 35px;
    text-transform: uppercase;
    border-bottom: thin solid #fafafa;
	padding-bottom:10px;
}

.maintext-whatis {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fafafa;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: medium;
    line-height: 30px;
    background-color: #F2A835;
    text-align: left;
    padding-right: 4px;
    padding-left: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.menu {
    color: #fff437;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
}

#imagelogo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 143px;
}

.newsletterfooter {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: medium;
    text-align: center;
    color: #fff437;
    padding-top: 5px;
    padding-bottom: 5px;
}
.newslettertext a:hover {
	color: #fafafa;
}

.newslettertext {
	font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: medium;
    text-align: center;
}



